@import '../../styles/variables';

.markdown-editor {
  textarea {
    width: 100%;
    height: 100%;
    padding: $space-small;
    font-size: 16px;
    border: $border-default;
    border-radius: 4px;
    resize: vertical;
    box-sizing: border-box;
  }
}
