@import '../../styles/variables';

.markdown-preview {
  flex: 1;
  padding: $space-padding-small;
  border: $border-default;
  border-radius: 4px;
  background-color: white;
  overflow-y: auto;
  height: 200px;
}
